attrs==22.1.0 ; python_full_version >= "3.7.1" and python_version < "3.11"
aws-cdk-asset-awscli-v1==2.2.30 ; python_full_version >= "3.7.1" and python_version < "3.11"
aws-cdk-asset-kubectl-v20==2.1.1 ; python_full_version >= "3.7.1" and python_version < "3.11"
aws-cdk-asset-node-proxy-agent-v5==2.0.36 ; python_full_version >= "3.7.1" and python_version < "3.11"
aws-cdk-aws-glue-alpha==2.54.0a0 ; python_full_version >= "3.7.1" and python_version < "3.11"
aws-cdk-aws-kinesisfirehose-alpha==2.54.0a0 ; python_full_version >= "3.7.1" and python_version < "3.11"
aws-cdk-aws-kinesisfirehose-destinations-alpha==2.54.0a0 ; python_full_version >= "3.7.1" and python_version < "3.11"
aws-cdk-lib==2.54.0 ; python_full_version >= "3.7.1" and python_version < "3.11"
cattrs==22.2.0 ; python_full_version >= "3.7.1" and python_version < "3.11"
constructs==10.1.182 ; python_full_version >= "3.7.1" and python_version < "3.11"
exceptiongroup==1.0.4 ; python_full_version >= "3.7.1" and python_version < "3.11"
jsii==1.72.0 ; python_full_version >= "3.7.1" and python_version < "3.11"
marshmallow==3.19.0 ; python_full_version >= "3.7.1" and python_version < "3.11"
packaging==21.3 ; python_full_version >= "3.7.1" and python_version < "3.11"
publication==0.0.3 ; python_full_version >= "3.7.1" and python_version < "3.11"
pyparsing==3.0.9 ; python_full_version >= "3.7.1" and python_version < "3.11"
python-dateutil==2.8.2 ; python_full_version >= "3.7.1" and python_version < "3.11"
six==1.16.0 ; python_full_version >= "3.7.1" and python_version < "3.11"
typeguard==2.13.3 ; python_full_version >= "3.7.1" and python_version < "3.11"
typing-extensions==4.4.0 ; python_full_version >= "3.7.1" and python_version < "3.11"
