attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
aws-cdk-lib==2.20.0; python_version >= "3.6"
aws-cdk.aws-glue-alpha==2.20.0a0; python_version >= "3.6"
aws-cdk.aws-kinesisfirehose-alpha==2.20.0a0; python_version >= "3.6"
aws-cdk.aws-kinesisfirehose-destinations-alpha==2.20.0a0; python_version >= "3.6"
cattrs==22.1.0; python_version >= "3.7" and python_version < "4.0"
constructs==10.0.112; python_version >= "3.6"
exceptiongroup==1.0.0rc3; python_version >= "3.7" and python_version <= "3.10"
jsii==1.56.0; python_version >= "3.6" and python_version < "4.0"
marshmallow==3.15.0; python_version >= "3.7"
packaging==21.3; python_version >= "3.7"
publication==0.0.3; python_version >= "3.6"
pyparsing==3.0.8; python_full_version >= "3.6.8" and python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.3.0"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.3.0"
typing-extensions==4.1.1; python_version >= "3.7" and python_version < "3.8"
