attrs==22.1.0 ; python_full_version >= "3.7.1" and python_version < "3.12"
aws-cdk-asset-awscli-v1==2.2.30 ; python_full_version >= "3.7.1" and python_version < "3.12"
aws-cdk-asset-kubectl-v20==2.1.1 ; python_full_version >= "3.7.1" and python_version < "3.12"
aws-cdk-asset-node-proxy-agent-v5==2.0.36 ; python_full_version >= "3.7.1" and python_version < "3.12"
aws-cdk-aws-glue-alpha==2.54.0a0 ; python_full_version >= "3.7.1" and python_version < "3.12"
aws-cdk-aws-kinesisfirehose-alpha==2.54.0a0 ; python_full_version >= "3.7.1" and python_version < "3.12"
aws-cdk-aws-kinesisfirehose-destinations-alpha==2.54.0a0 ; python_full_version >= "3.7.1" and python_version < "3.12"
aws-cdk-lib==2.54.0 ; python_full_version >= "3.7.1" and python_version < "3.12"
boto3-stubs-lite[lambda]==1.26.27 ; python_full_version >= "3.7.1" and python_version < "3.12"
boto3==1.26.27 ; python_full_version >= "3.7.1" and python_version < "3.12"
botocore-stubs==1.29.27 ; python_full_version >= "3.7.1" and python_version < "3.12"
botocore==1.29.27 ; python_full_version >= "3.7.1" and python_version < "3.12"
cattrs==22.2.0 ; python_full_version >= "3.7.1" and python_version < "3.12"
constructs==10.1.187 ; python_full_version >= "3.7.1" and python_version < "3.12"
exceptiongroup==1.0.4 ; python_full_version >= "3.7.1" and python_version < "3.11"
jmespath==1.0.1 ; python_full_version >= "3.7.1" and python_version < "3.12"
jsii==1.72.0 ; python_full_version >= "3.7.1" and python_version < "3.12"
marshmallow==3.19.0 ; python_full_version >= "3.7.1" and python_version < "3.12"
mypy-boto3-lambda==1.26.18 ; python_full_version >= "3.7.1" and python_version < "3.12"
packaging==22.0 ; python_full_version >= "3.7.1" and python_version < "3.12"
publication==0.0.3 ; python_full_version >= "3.7.1" and python_version < "3.12"
python-dateutil==2.8.2 ; python_full_version >= "3.7.1" and python_version < "3.12"
s3transfer==0.6.0 ; python_full_version >= "3.7.1" and python_version < "3.12"
six==1.16.0 ; python_full_version >= "3.7.1" and python_version < "3.12"
typeguard==2.13.3 ; python_full_version >= "3.7.1" and python_version < "3.12"
types-awscrt==0.16.1 ; python_full_version >= "3.7.1" and python_version < "3.12"
types-s3transfer==0.6.0.post5 ; python_full_version >= "3.7.1" and python_version < "3.12"
typing-extensions==4.4.0 ; python_full_version >= "3.7.1" and python_version < "3.12"
urllib3==1.26.13 ; python_full_version >= "3.7.1" and python_version < "3.12"
